bin/
debug/
release/
Makefile
Makefile.Debug
Makefile.Release
.qmake.stash
yecpaperwalletui
yecpaperwalletui.app/
yecpaperwalletui_plugin_import.cpp
yecpaperwalletui.pro.user
.vscode/
ui*.h
*.swp
artifacts/
papersapling.pro.user
